    <header>
        <div class="primary_header">

			
            <h1 class="title">Benny Financial Support</h1>
        </div>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <a href="/new_ticket">Create a New Ticket</a>
            <a href="/my_tickets">My Tickets</a>
        </div>
    </header>