
    <div class="header">
        <div class="customer_header">
			<div><img src="/images/logo.png" alt="Benny Logo" width="100" height="120"></div>
			<div><h1 class="title">CS 361 Group 2 Project</h1></div>
        </div>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <a href="/tickets">Manager Side</a>
            <a href="/new_ticket">Client Side</a>
        </div>
    </div>


<div class="cotainer">


    <center>

        <h1>Welcome to eSupport Solutions</h1>

        <span></span>

        <i><h3>A website created to manage Support Tickets for a company</h3></i>

    </center>

    <div class="home">

        <h3>Ticket Database:</h3>
        <p>See and modify all current active tickets as manager.</p>
        <h3>New Ticket:</h3>
        <p>Create a new ticket page</p>
        <h3>My Tickets:</h3>
        <p>View the website as a support member.</p>
    </div>




</div>