<div class="cotainer">


    <center>

        <h1>Welcome to eSupport Solutions</h1>

        <span></span>

        <i><h3>A website created to manage Support Tickets for a company</h3></i>

    </center>

    <div class="home">

        <h3>Ticket Database:</h3>
        <p>See and modify all current active tickets.</p>
        <h3>New Ticket:</h3>
        <p>Create a new ticket page</p>
        <h3>Admin Login:</h3>
        <p>View the website as a support member.</p>
        <h3>Client Login:</h3>
        <p>View website as a client.</p>
    </div>




</div>